In [18]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
navegador = webdriver.Chrome()


#navegando até o google
navegador.get('https://google.com/')
#pesquisando dólar
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#pegando a cotação atual
cotacao_dolar = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)

#navegando até o google
navegador.get('https://google.com/')
#pesquisando dólar
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#pegando a cotação atual
cotacao_euro = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

#navegando até o site da cotação do ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')

#pegando a cotação atual
cotacao_ouro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(',','.')
print(cotacao_ouro)

navegador.quit()

5.2036999999999995
5.280168371
292.69

In [22]:
import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')
#atualizando os valores da cotação
tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)

#atualizando os preços de compra
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']
display(tabela)

#importando para o excel
tabela.to_excel('Produtos Novos.xlsx', index=False)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.203700,5203.647963,1.40,7285.107148
1,Carro Renault,4500.00,Euro,5.280168,23760.757670,2.00,47521.515339
2,Notebook Dell,899.99,Dólar,5.203700,4683.277963,1.70,7961.572537
3,IPhone,799.00,Dólar,5.203700,4157.756300,1.70,7068.185710
4,Carro Fiat,3000.00,Euro,5.280168,15840.505113,1.90,30096.959715
5,Celular Xiaomi,480.48,Dólar,5.203700,2500.273776,2.00,5000.547552
6,Joia 20g,20.00,Ouro,292.690000,5853.800000,1.15,6731.870000

Point(x=74, y=202)